body {
    background-color:papayawhip;
    font-size:18px;
    font-family: monospace;
}

.none {
    list-style-type: none;
}

.getweather {
    width:200px;
    height: 50px;
    border-width:5px;
    border-radius:40px; 
    font-size: 30px;
    text-shadow: 2px 2px rgb(153, 155, 136);
}

.getweatherdiv {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content:center;
    align-items: center;
}

.maindiv {
    font-family: sans-serif;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.outer {
    border: #333 2px solid;
    border-radius: 40px;
    padding:10px;
    background-color:rgb(179, 233, 233);
    list-style-type: none;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radiounits {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner {
    color:purple;
    list-style-type: none;
}

.name {
    font-size: 30px;
}

.loadinginfo {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chooseunitstyle {
    color: red;
}

.maintemperature {
    font-size: 30px;
}

.example {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}